<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Search a movie" [(ngModel)]="searchTerm" (ionChange)="search($event)"></ion-searchbar>

  <h1>{{ searchTerm }}</h1>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let movie of (movies | async)" [routerLink]="['/', 'movies', movie.imdbID]">
      <ion-label>{{movie.Title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>